doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    script(type="text/javascript" src="/bower_components/requirejs/require.js" data-main="/src/require.config.js")
    script(type="text/javascript")
      | window.appName='#{appName}';